<h1>Cypher</h1>

<hr />
<hr />
Encryption <br /><br />
<textarea class="input" rows="7" cols="100" type="text" placeholder="data to encrypt" [(ngModel)]="request"></textarea>
<br /><br />
<input type="button" value="Encrypt" (click)="encryptUsingAES256()" /><br /><br />
<p>
  Encrypted Text:
  <br />
  <span class="output">{{ encrypted }}</span>
  <button class="btn-copy" *ngIf="encrypted != ''" (click)="copyText(encrypted)">Copy</button>
</p>

<hr />
<hr />
Decryption <br /><br />
<textarea class="input" type="text" rows="7" cols="100" placeholder="data to decrypt" [(ngModel)]="responce"></textarea>
<br /><br />
<input type="button" value="Decrypt" (click)="decryptUsingAES256()" />&nbsp;

<p>
  Decrypted Text:<br />
  <span class="output">{{ decrypted }}</span>
</p>
